extends ../reference.jade

block documentation
  h1 {{code-title}}

  p {{code-description}}

  h2 {{unbuffered-code-title}}

  p {{unbuffered-code-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          - for (var x = 0; x < 3; x++)
            li item
    .col-lg-6
      +html
        :htmlsrc
          <li>item</li>
          <li>item</li>
          <li>item</li>

  h2 {{buffered-code-title}}

  p {{buffered-code-description}}


  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          p
            = 'This code is <escaped>!'
    .col-lg-6
      +html
        :htmlsrc
          <p>This code is &lt;escaped&gt;!</p>

  p {{buffered-code-inline}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          p= 'This code is' + ' <escaped>!'
    .col-lg-6
      +html
        :htmlsrc
          <p>This code is &lt;escaped&gt;!</p>

  h2 {{unescaped-buffered-code}}

  p {{unescaped-buffered-code-description}}


  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          p
            != 'This code is <strong>not</strong> escaped!'
    .col-lg-6
      +html
        :htmlsrc
          <p>This code is <strong>not</strong> escaped!</p>

  p {{buffered-code-inline}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          p!= 'This code is <strong>not</strong> escaped!'
    .col-lg-6
      +html
        :htmlsrc
          <p>This code is <strong>not</strong> escaped!</p>
  .panel.panel-danger
    .panel-heading {{danger}}
    .panel-body
      p.
        {{unescaped-buffered-code-danger}}
        {{sanatize-inputs}}

  h2 {{interpolation-title}}

  p {{interpolation-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          - var user = {name: 'Forbes Lindesay'}
          p Welcome \#{user.name}
    .col-lg-6
      +html
        :htmlsrc
          <p>Welcome Forbes Lindesay</p>

  p {{dont-interpolate}}

  h2 {{unescaped-interpolation}}

  p {{unescaped-interpolation-description}}:

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          - var user = {name: '<strong>Forbes Lindesay</strong>'}
          p Welcome \#{user.name}
          p Welcome \!{user.name}
    .col-lg-6
      +html
        :htmlsrc
          <p>Welcome &lt;strong&gt;Forbes Lindesay&lt;/strong&gt;</p>
          <p>Welcome <strong>Forbes Lindesay</strong></p>
  .panel.panel-danger
    .panel-heading {{danger}}
    .panel-body
      p.
        {{unescaped-buffered-code-danger}}
        {{sanatize-inputs}}
