extends ../reference.jade

block documentation
  h1 {{mixins-title}}

  p {{mixins-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          //- Declaration
          mixin list
            ul
              li foo
              li bar
              li baz
          //- Use
          +list
          +list
    .col-lg-6
      +html
        :htmlsrc
          <ul>
            <li>foo</li>
            <li>bar</li>
            <li>baz</li>
          </ul>
          <ul>
            <li>foo</li>
            <li>bar</li>
            <li>baz</li>
          </ul>

  p {{mixins-implementation}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          mixin pet(name)
            li.pet= name
          ul
            +pet('cat')
            +pet('dog')
            +pet('pig')
    .col-lg-6
      +html
        :htmlsrc
          <ul>
            <li class="pet">cat</li>
            <li class="pet">dog</li>
            <li class="pet">pig</li>
          </ul>

  h2#blocks {{mixin-blocks}}

  p {{mixin-blocks-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          mixin article(title)
            .article
              .article-wrapper
                h1= title
                if block
                  block
                else
                  p No content provided

          +article('Hello world')

          +article('Hello world')
            p This is my
            p Amazing article
    .col-lg-6
      +html
        :htmlsrc
          <div class="article">
            <div class="article-wrapper">
              <h1>Hello world</h1>
              <p>No content provided</p>
            </div>
          </div>

          <div class="article">
            <div class="article-wrapper">
              <h1>Hello world</h1>
              <p>This is my</p>
              <p>Amazing article</p>
            </div>
          </div>

  h2#attributes {{mixin-attributes}}

  p {{mixin-attributes-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          mixin link(href, name)
            //- attributes == {class: "btn"}
            a(class!=attributes.class, href=href)= name

          +link('/foo', 'foo')(class="btn")
    .col-lg-6
      +html
        :htmlsrc
          <a href="/foo" class="btn" >foo</a>

  .panel.panel-info
    .panel-heading {{note}}
    .panel-body.
      {{mixin-attributes-note({link: '#[a(href="/reference/attributes#unescaped") unescaped attributes]'})}}

  p {{mixin-and-attributes({link: '#[code &amp;attributes] (see also #[a(href="/reference/attributes#and-attributes") &amp;attributes])'})}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          mixin link(href, name)
            a(href=href)&attributes(attributes)= name

          +link('/foo', 'foo')(class="btn")
    .col-lg-6
      +html
        :htmlsrc
          <a href="/foo" class="btn" >foo</a>

  h2 {{rest-arguments}}

  p {{rest-arguments-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          mixin list(id, ...items)
            ul(id=id)
              each item in items
                li= item

          +list('my-list', 1, 2, 3, 4)
    .col-lg-6
      +html
        :htmlsrc
          <ul id="my-list">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
          </ul>
