doctype html
html
  head
    meta(charset='utf-8')
    title Pug - Template Engine
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href="/style/bundle.css")
    include ./includes/mixins.pug
  body
  body
    #wrap
      #content
        .logo-container
          a(href=path('/'))
            img(src="/style/pug-logo-header.svg",alt="Pug - Node Template Engine")
        .navbar.navbar-default.navbar-static-top
          .container
            .navbar-header.visible-sm.visible-xs
              button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href=path('/')) PUG
            .collapse.navbar-collapse
              ul.nav.navbar-nav
                block navsections
                  li(class=section === 'reference' ? 'active' : false)
                    a(href=path('/reference')) Language Reference
                  li(class=section === 'api' ? 'active' : false)
                    a(href=path('/api')) API
                  li(class=section === 'command-line' ? 'active' : false)
                    a(href=path('/command-line')) Command Line
              ul.nav.navbar-nav.navbar-right
                li(class=section === 'history' ? 'active' : false)
                  a(href='/history') Change Log
                li: a(href='https://coveralls.io/r/pugjs/pug?branch=master') Code Coverage
                li: a(href='https://travis-ci.org/pugjs/pug') Test Results
                li: a(href='https://github.com/pugjs/pug') GitHub Repository
              block navigation
        .container
          block content
      #push
    #footer-wrapper
      footer
        .container
          p
            | Pug is a template language maintained by&nbsp;
            a(href='http://www.forbeslindesay.co.uk') @ForbesLindesay
            | &nbsp;and contributed by&nbsp;
            a(href='https://github.com/pugjs/pug/graphs/contributors') many others
            |.
    include ./includes/ga.pug
    script(src=path("/client.js"))
    script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
