
- var users = []

ul
  for user in users
    li= user.name
  else
    li no users!


- var users = [{ name: 'tobi', friends: ['loki'] }, { name: 'loki' }]

if users
  ul
    for user in users
      li= user.name
    else
      li no users!

- var user = { name: 'tobi', age: 10 }

ul
  each val, key in user
    li #{key}: #{val}
  else
    li user has no details!

- var user = {}

ul
  each prop, key in user
    li #{key}: #{val}
  else
    li user has no details!

- var user = Object.create(null)
- user.name = 'tobi'

ul
  each val, key in user
    li #{key}: #{val}
  else
    li user has no details!
